@font-face {
    font-family: rupeesymbol;
    src: url(../fonts/Rupee_Foradian.ttf);
}
.rupee{
	font-family:rupeesymbol;
	}

.nav-project-img-ul-bordr{	
/*	border-right: 1px solid #ccc;*/
	border-left: 1px solid #ccc;
}

.nav-project-img-bg{	
	text-align:center;
	text-transform:uppercase;
}
.nav-project-img-border{
	border: 4px solid #fff;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	margin-top: 20px;
}

.slider {
	width: 100%;
	min-height: 530px;
	background-image:url(../images/page-title-bg9.jpg);
	background-repeat:no-repeat;
}
.slider-tag{
	min-height:150px;
	background-image:url(../images/bg/slider-tag-bg.png);
	background-repeat:repeat;	
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	line-height: 48px;
	padding-top:25px;
	padding-bottom:25px;
	margin-top: 230px;
}
.slider-tag-text{
	font-size: 36px;
	font-weight: bold;
}
.slider-buy{
	height:150px;
	background-image:url(../images/bg/slider-buy-bg.png);
	background-repeat:repeat;	
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	padding-top:25px;
	padding-bottom:25px;
	font-weight: bold;
}
.slider-buy a{
	color:#fff;
}
.slider-buy a:hover{
	color:#fff;
	text-shadow: 2px 2px 2px #000;
}
.slider-sell{
	height:150px;
	background-image:url(../images/bg/slider-sell-bg.png);
	background-repeat:repeat;	
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	padding-top:25px;
	padding-bottom:25px;
	font-weight: bold;
}
.slider-sell a{
	color:#fff;
}
.slider-sell a:hover{
	color:#fff;
	text-shadow: 2px 2px 2px #000;
}
.slider-rent{
	height:150px;
	background-image:url(../images/bg/slider-rent-bg.png);
	background-repeat:repeat;	
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	padding-top:25px;
	padding-bottom:25px;
	font-weight: bold;
}
.slider-rent a{
	color:#fff;
}
.slider-rent a:hover{
	color:#fff;
	text-shadow: 2px 2px 2px #000;
}
.resource-head-text{
	font-size: 24px;
	font-weight: bold;
}

.title72 .line {
	margin: 14px auto 50px auto;
	width: 70px;
	height: 2px;
	background: #fff;
}
/*-------------------------------Inside page header------------------------------*/

/*.insidepg-header {
	width: 100%;
	position:fixed;
	height:100px;
	box-shadow: 0px 2px 10px;
	background-color: #fff;
	z-index: 100000;
}*/
.magicsearch {
	width: 100%;
	float: left;
	height:50px;
	background-color: #f8f8f8;
	position:fixed;
	z-index: 100;
}
.magicsearch1 {
	width: 100%;
	float: left;
	height:55px;
	background-color: #f8f8f8;
	position:fixed;
	z-index: 999;
	box-shadow: 0px 2px 10px;
}
.filteration {
	width: 100%;
	float: left;
	height:53px;
	position:fixed;
	z-index: 10;
	margin-top: 50px;
	box-shadow: 0px 2px 10px;
	background-color: #fff;
}
.bg-white{
	background-color:#FFFFFF;
}
.project-wrapper{
	width: 100%;
	position:relative;
}
.insidepg-heading{
	width: 100%;
	height: auto;
}
.insidepg-proj{
	width: 100%;
	height: auto;
}
.insidepg-proj-row{
	border-bottom: 4px double #ccc;
	height: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}
.insidepg-proj-grid-row{
	border-bottom: 4px double #ccc;
	height: auto;
	/*padding-top: 50px;*/
	padding-bottom: 50px;
}
.proj-detail-row{	
	height: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}
.insidepg-proj-img-box{
	margin: 20px 0px;
}
.insidepg-proj-img-box img{
	width:275px;
	height:210px;
}
.insidepg-proj-detail{
	margin: 8px 0px;
}
.proj-price-text{
	font-weight: bold;
	font-size: 16px;
}
.insidepg-proj-builder{
	margin: 20px 0px 0px 0px !important;
}
.insidepg-proj-builder-price{
	margin: 8px 0px 10px 0px !important;
}
.clear{
    
    clear:both;
}
.insidepg-proj-builder img{
        padding-top:12px;
	border-bottom: 1px dashed #ccc;
	height: 110px !important;
        padding-bottom: 18px;
        width: 160px !important;
	
}
.search-width{
	width: 350px;
	padding-top:8px;
}
.proj-detail-right1{
	height:60px;
	padding-top: 8px;
	border-bottom: 1px dashed #ccc;
}
.stcode_title5 ul{
	padding: 0px;
	margin:0px;
}
.stcode_title5 ul li{
	border-bottom: 1px dotted #ccc;
	line-height: 28px;
	font-weight: 600;
}
.stcode_title5 ul li img{
	padding-right: 20px;
	vertical-align:middle;
}
.white-text{
 color: #fff;
}
.page-header1 {
    border-bottom: 1px solid #ccc;
    margin: 110px 0 0;
    padding-bottom: 9px;
}
.one_fourth_less img{
	width:250px;
	height:175px;

}
.grid_type{
	width:88%;
	height:40px;
	/*background-color:#e3e3e3;*/
	font-weight:bold;
	border-top: 1px solid #428bca;
	margin-left: 6%;
	margin-right: 6%;
	color: #428bca;
	font-size:14px;
	line-height:16px;
	padding-top:4px;
}
.grid_type_left_smltxt{
	font-size:12px;
	font-weight:normal;
	line-height:10px;
	text-align:center;
}
.grid_button{
	width:100%;
	height:65px;
	padding-top:8px;
	padding-bottom:5px;
	background-color:#fff;
}
.grid_button_left{
	width:46%;
	height:40px;
	float:left;
	font-weight:bold;
	color: #d9534f;
	border-right: 1px dotted #d9534f;
	font-size:12px;
	text-align:left;
	line-height: 16px;
	padding-left:5%;
}
.grid_button_left_smltxt{
	font-size:10px;
	font-weight:normal;
	line-height:10px;
	text-align:left;
}
.grid_button_right{
	width:54%;
	height:40px;
	float:left;
	padding-top: 5px;
	padding-right: 1%;
	padding-left: 1%;
	font-weight: bold;
	font-size: 13px;
}
.pritable .pacdetails .top{
	float: left;
	width: 100%;
	height: 188px;
}
.pritable .pacdetails .top img{
	width: 100%;
	height: 176px;
	padding: 5px;
	background-color:#ddd;
	border-right: 1px solid #333;
}
.pritable .pacdetails .top1 img{	
	height: 178px;
	padding: 5px;
	}
.popup-form{
	color: #393939;
    font-family: "Raleway",sans-serif;
	font-size:21px;
	text-transform:uppercase;
	font-weight: bold;
	}
.popup-input{
	padding: 4px 0px;
	margin-bottom: 4px;
}
.popup-heading{
margin-bottom:30px; color:#333; font-family: "Raleway",sans-serif;
}
.buy-form-bg{
	width: 72%;
	height: 76px;
	background: rgba(247, 247, 247, 0.5) none repeat scroll 0 0;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;	
	margin: auto;
	margin-top:300px;
}
.buy-form-inside{
	width: 98%;
	height: 60px;
	float:left;
	margin: 1%;
	background: #fff;	
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #ccc;
}
.buy-bg-img16{
	width:100%;
	height:600px;
	background-image:url(../images/sliders/master/16.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	margin-top: 55px;
}
.buy-bg-img17{
	width:100%;
	height:600px;
	background-image:url(../images/sliders/master/17.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	margin-top: 55px;
}
.buy-bg-img18{
	width:100%;
	height:600px;
	background-image:url(../images/sliders/master/18.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	margin-top: 55px;
}
.newlaunch-proj1{
	width:100%;
	height:385px;
	background-color:#eee;
}
.newlaunch-proj1 img{
	width:400px;
	height:385px !important;
}
.newlaunch-proj2{
	width:100%;
	height:580px;
	background-color:#eee;
}
.newlaunch-proj2 img{
	width:400px;
	height:580px !important;
}
.featured-proj {
    background: #fff none repeat scroll 0 0 !important;
    float: left;
    padding: 0px 0 0px !important;
    width: 100%;
	height: 300px;
}
.featured-proj-text{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-transform:uppercase;
	text-align: center;
}
.sell-form-input{
	height:60px;
}
.cursor{
	cursor: pointer;
}
.project-download-btnn1{
	margin-top: 30px;	
	font-weight:bold;	
	text-align: center;	
	color : #d9534f !important;
	font-size: 12px;
	border-right: 1px solid #ccc;	
	}

.project-download-btnn2{	
	text-align:center;
	font-weight:bold;	
	margin-top: 30px;	
	font-size: 12px;
}
/*---------Search Magic Results CSS---------*/

.magicsearch-results{
  width:100%;
   height:auto;    
     /*padding-left:3%;      */
     z-index:1000;
     position: relative;
}
.magicsearch-results ul{ 
  border-bottom:1px solid #ddd;  
  background-color:#f8f8f8;  
}
.magicsearch-results ul li{  
  padding-right:3%;
  color: #333;
  font-family: "openSans",Arial,Helvetica,sans-serif;
  font-size:13px; 
  line-height: 28px;
  background-color:#f8f8f8;
}
.magicsearch-results ul li:hover{
 background-color:#ccc;
}
/*----add------*/
.add-portfolio{
  width:92.5%;
   height:auto;    
     /*padding-left:3%;      */
     z-index:1000;
     position: relative;
}
.add-portfolio ul{ 
  border-bottom:1px solid #ddd;  
  background-color:#f8f8f8;  
}
.add-portfolio ul li{  
  padding-right:3%;
  color: #333;
  font-family: "openSans",Arial,Helvetica,sans-serif;
  font-size:13px; 
  line-height: 28px;
  background-color:#f8f8f8;
}
.add-portfolio ul li:hover{
 background-color:#ccc;
}
.magicsearch-results-leftpad{
  padding-left:4%;
}
.magicsearch-results-align{
  text-align: right;
  font-weight: bold;
}
.projlistpg-compare-pad{
	margin: 0px 0px 16px 0px;
	font-weight: bold;
        font-size: 12px;
        
}
.compare-dropdown-menu{
 width:80%;
 float:left;
 font-size:14px;
 padding:6px 15px; 
 font-family:Calibri;
 background-color: #fff; 
}
.compare-dropdown-menu-remove{
 width:20%;
 float:left;
 font-size:14px;
 padding:6px 12px;
}
.compare-dropdown-menu-remove-btn{
 color: #d9534f;
}
.compare-tbl-row {
	width: 250px !important;
	height: 150px !important;
}
.compare-tbl-row img{
	width: 250px !important;
	height: 135px !important;
}
.select-othr-proj{
	border: 1px solid #ddd;
	min-height:	620px !important;
	background-color: #f9f9f9;
	padding-top: 250px
}
.login-main-add{
    background-color:#eee; margin:20px 0px 5px 0px; padding:0px;
}
.login-fb-bttn{
    padding: 6px 15px; font-weight:bold; font-size:12px; border-right:4px double #ddd;
}
.login-gplus-bttn{
    padding: 6px 15px; font-weight:bold; font-size:12px;
}
.login-username{
    color: #fff !important;
}
.login-username a{
    color:#fff !important;
    text-decoration: none !important;
}